html, body{
    background-color: #3F0D12;

}
ul{
    padding: 0;
    width: 100%;
}
ul.head li{
    display: inline;
}
div.img{
    float: right;
}
a{
    outline: #8D775F;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.635%;
    text-align: center;
    line-height: 3;
    color: #931f19;
    font-size: 1.7em;
    align-items: center;
}

li:last-child a{
    margin-right: 0;

}
div.side{
    float: right;
    border-style: double;
    border-width: 3.4px;
    border-color: #D5bf86;
    display: block;
    max-width: 11.5em;
    margin-left: 10px;
}
div.side ul li{
    color: #F1F0CC;
}
div.containter{
    display: inline;
}
div.containter img{
    float: right;
}
div.side li{
    padding-left: 40px;
}

ul.b{
    list-style-type: none;
}

a:link, a:focus{
    background: #3F0D12;
}
a:visited{
    background: #D5bf86;

}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;

    color: #931F1D;
    font-family: Georgia;
}

body{
    font-family: Georgia;
    font-size: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.8% 1.8% 0;
    background: #8D775F;
    line-height:1.3;
}

h1{
    font: 1.4em Verdana, Geneva, san-serif;
    margin-top: .5em;
    margin-bottom: .5em;
    color: #931f19; 
    font: bold;
}

h2{
    font: 2.8em;
    margin-bottom: 1.2;
}

h3{
    font-size: 1.35em;

}


p{
    margin-bottom: 1em;
    color: #f1f0cc;
}

dt {
    font-style: italic;
    font-size: 1.2em;
}
dd {
    margin-bottom: 1.4em;
}
footer {
    border-top: 1.5px solid black;
    text-align: center;
    font-size: .94em;
    line-height: 4em;
    margin-top: 1em;
}
.title-home{
    width: 710px;
    height: 100%;
    background-color: blueviolet;
}